*{
    font-family: 'Figtree', sans-serif;
}
body{
    
    padding-top: 5%;
}
nav{
    background-color: #3e526e;
}
.nav-item{
    overflow: hidden;
   text-decoration: none;
}
.nav-item:hover{
   background: #ee6c4d;
}
.btn{
    background-color: #98c1d9 !important;
    color: #3e526e !important;
    border: #98c1d9 !important;
}
.btn:hover{
    background: #ee6c4d !important;
    color: #e0fbfc !important;
}
.masterhead{
    height: 600px;
    width: 100%;
    background-image: url('./images/headban.png');
    background-repeat: no-repeat;
    background-size:auto;
    background-position: right;
}

.about-program{
    background-image: url('./images/innerbg.png');
    background-repeat: no-repeat;
    background-size:auto;
    background-position: right;
}
.masterbody{
    height: 600px;
    width: 100%;
    background-image: url('./images/newhead1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.masterfont0{
    margin-top: 40px;
    padding: 20px;
    color: #3d5a80;
    font-size: 4rem;
    font-variant:normal;
    
    
}
.masterfont1{
    padding-left: 30px;
    font-size: 2rem;
    color: #ee6c4d;
    
}
.masterfont2{
   
    padding-left: 30px;
    font-size: 1.2rem;
    color: #ee6c4d;
    text-transform: uppercase;
}
.masterfont3{
    
    padding-left: 30px;
    font-variant: small-caps;
    color: #3d5a80;
    font-size: 1.5rem;
}
@media (max-width: 1024px){

    .masterhead{
        background-image: none;
    }
    .masterbody{
        background-image: none;
    }
    .masterfont0{
        font-size: calc(3 * 3.3vw);
    }
    .masterfont1{
        font-size: calc(1.5 * 3.3vw);
    }
    .masterfont2{
        font-size: calc(1 * 3.3vw);
    }
    .masterfont3{
        font-size: calc(1 * 3.3vw);
    }
    
    
}
@media(max-width: 1180px) {
    .coursenetic{
        width: calc(20vw);
        float: left !important;
    }
    .foot-text{
        font-size: small;
    }
    .footer{
       padding-left: 180px !important;
    }
   
    .masterfont0{
        padding-top: 30px;
       /*  text-align: center; */
    }
    .masterhead{
        margin: 10px;
    }
    .inner-bg{
        margin-top: 100px !important;
    }
    .head{
        
        padding-left: 15px;
    }
   
    
}
@media(max-width: 789px) {
    .coursenetic{
        width: calc(20vw);
        float: left !important;
    }
    .foot-text{
        font-size: small;
    }
    .footer{
       padding-left: 180px !important;
    }
    .contactDetails{
        display: none;
    }
    .masterfont0{
        padding-top: 30px;
       /*  text-align: center; */
    }
    .head{
        padding-left: 15px;
    }
    .btnabout{
        padding-left: 40px;
    }
    
}

.mid-work{
    height: 600px;
    width: 100%;
   /*  background-image: url('./images/bannermidd.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5%;
    padding: 1%;
    text-shadow: rgba(0, 0, 0, 0.5);
} 
.inner-bg{
    margin-top: 5%;
    text-shadow: rgba(0, 0, 0, 0.9);
}
.head{
    margin: 90px auto 25px;
    color: #ee6c4d;
}

.p-head{
    font-size: 1.2rem;
    font-variant: small-caps;
    color: #293241;
}

.list-learn h4{
    color: #ee6c4d;
    font-variant: small-caps;
}
.list-learn p{
    color: #333; 
}
.list-learn span{
    color: #ee6c4d;
}
.about-program{
    line-height: 27px;
}
.about-program ul{
    list-style-type: circle;
}
.about-program h1, span{
    color: #ee6c4d;
}
input:focus:invalid{
    border: 2px solid #ff0000;
}
    
.get-started h1{
    color: #ee6c4d;
}
.get-started h5{
    color: #3d5a80;
}
.get-started a:hover{
    color: #ee6c4d;
}
.mag{
    margin-top: 3%;
}
form a{
    text-decoration: none;
}
.testimonial h2{
    color: #ee6c4d;
}
.testimonial p, q{
    color: #3d5a80;
}
.faq h1{
    color: #ee6c4d;
}
.faq p{
    color: #3d5a80;
}
.faq button{
    background-color: #98c1d9;
}
.faq span{
    color: #293241;
}

.newsletter h4{
    font-variant: small-caps;
    color: #ee6c4d;
    font-weight: 800;
}
.contactUs{
    text-align: center;
    font-variant: small-caps;
    color: #ee6c4d;
    font-weight: 800;
}
.footer{
    clear: both;
    background-color: #3e526e;
   
    display: inline-block;
    
}
.footer a{
    text-decoration: none;
}
.footer a:hover{
    color: #fff;
}
.coursenetic {
    float: right;
}
.foot-text{
    color: #ee6c4d;
    text-shadow: rgba(0, 0, 0, 0.5);
    
}

 