*{
    font-family: 'Figtree', sans-serif;
    background-image: url('./images/bannermidd.png');
  
}
body{
    padding-top: 10%;
}
.nav-item{
    overflow: hidden;
    background-color: #3e526e;
   text-decoration: none;
}
.nav-item:hover{
   background: #333;
}
.masterhead{
    height: 600px;
    width: 100%;
    background-image: url('./images/headban.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.masterbody{
    height: 600px;
    width: 100%;
    background-image: url('./images/newhead1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.masterfont0{
    margin: 50px;
    color: #3e526e;
    font-size: 4rem;
    font-variant:normal;
    
    
}
.masterfont1{
    padding-left: 50px;
    font-size: 2rem;
    color: #3e526e;
    
}
.masterfont2{
    font-family: 'Comic Neue', cursive;
    padding-left: 50px;
    font-size: 1.2rem;
    color: #3e526e;
    text-transform: uppercase;
}
.masterfont3{
    font-family: 'Comic Neue', cursive;
    padding-left: 50px;
    font-variant: small-caps;
}
@media (max-width: 1024px){

    .masterhead{
        background-image: none !important;
    }
    .masterfont0{
        font-size: calc(1.7 * 3.3vw);
    }
    .masterfont1{
        font-size: calc(1.2 * 3.3vw);
    }
    .masterfont2{
        font-size: calc(1.2 * 3.3vw);
    }
}
.mid-work{
    height: 600px;
    width: 100%;
   /*  background-image: url('./images/bannermidd.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5%;
    padding: 1%;
    text-shadow: rgba(0, 0, 0, 0.5);
} 
.head{
    font-size: 3rem;
   
    
}
.p-head{
    font-size: 1.4rem;
    font-variant: small-caps;
    color: #3e526e;
}

.list-learn h4{
    font-weight: 600;
    color: #f00000;
    font-variant: small-caps;
}
.list-learn p{
    font-weight: 600;
    color: #333;
    
}
.about-program{
    line-height: 27px;
}
.reg{
    margin-top: 15%;
    margin-bottom: 10%;
}
.reg-form{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 5px;
    margin: auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);  
}
.reg-form p{
    color: #3e526e;
}

form{
    position: relative;
    margin-top: 16px;
    min-height: 450px;
    background-color: #fff;
}
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.container form .fields{
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 8px 0;
}
.input-field label{
    font-size: 13px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input{ 
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field select{ 
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}
form a{
    text-decoration: none;
}
.footer{
    clear: both;
    border-top: 1px solid #3e526e;
    display: inline-block;
    
}
.footer a{
    text-decoration: none;
}
.coursenetic{
    float: right;
}
.foot-text{
    color: #3e526e;
}